h1{
    text-decoration-line: underline;
}
img{
    float: right;
}
h2{
    font-size: 20px;
    font-family: fantasy;
    font-style: oblique;
    text-decoration-line: underline;
}
p{
    
    font-size: 18px;
}
.column{
    padding-right: 70px;
}
.bold{
    font-style: italic;
}

.ul{
    font-style: italic;
}