h1{
    border-left: 4px solid darkblue;
    border-bottom: 6px solid darkblue;
    color: darkslateblue;
}
img{
    float: right;
    opacity: 0.7;
  filter: alpha(opacity=50);
  transform: rotate(25deg);
}

h2{
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: oblique;
    text-decoration-line: underline;
    
}
h3{
    text-decoration-line: underline;
}
h4{
    border-bottom: 4px solid darkblue;
}
p{
    
    font-size: 19px;
}
.column{
    padding-right: 70px;
}
.bold{
    font-style: italic;
}

.ul{
    font-style: italic;
    font-size: 18px;
}
.ul p{
    color: darkblue;
}
.ol p{
    color: darkslateblue;
}